@tuya-fe:registry=https://registry-npm.tuya-inc.top/
electron_mirror = https://npm.taobao.org/mirrors/electron/
sass_binary_site = https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl = https://npm.taobao.org/mirrors/phantomjs/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
registry=https://registry.npm.taobao.org